<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      formControlName="email"
      type="email"
      required
    />
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
      Enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      formControlName="password"
      type="password"
      required
    />
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
      Password must be at least 6 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      type="password"
      required
    />
    <mat-error
      *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
    >
      Confirm Password is required
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
      Passwords must match
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
</form>
