<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        type="email"
        required
      />
      @if(registerForm.get('email')?.hasError('required')){
      <mat-error> Email is required </mat-error>
      } @if(registerForm.get('email')?.hasError('email')){

      <mat-error> Enter a valid email </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
        required
      />
      @if(registerForm.get('password')?.hasError('required')){

      <mat-error> Password is required </mat-error>
      } @if(registerForm.get('password')?.hasError('minlength')){

      <mat-error> Password must be at least 6 characters </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        type="password"
        required
      />
      @if(registerForm.get('confirmPassword')?.hasError('required')){
      <mat-error> Confirm Password is required </mat-error>
      } @if(registerForm.hasError('passwordMismatch')){
      <mat-error> Passwords must match </mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
      class="full-width"
    >
      Register
    </button>

    @if(error()) {
    <mat-error>{{ error() }}</mat-error>
    }
  </form>
</div>
