<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Amount of points"
      formControlName="n"
      type="number"
      min="2"
      max="30"
      required
      (change)="onPointsCountChange()"
    />
    @if (inputForm.get('n')?.hasError('required')) {
    <mat-error>Amount of points is required</mat-error>
    } @if (inputForm.get('n')?.hasError('min') ||
    inputForm.get('n')?.hasError('max')) {
    <mat-error>Enter a number between 2 and 30</mat-error>
    }
  </mat-form-field>

  <div formArrayName="points" class="points-grid">
    @for (pointControl of pointsArray.controls; track pointControl; let i =
    $index) {
    <div [formGroupName]="i" class="point-input">
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="X{{ i + 1 }}"
          formControlName="X"
          type="number"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Y{{ i + 1 }}"
          formControlName="Y"
          type="number"
          required
        />
      </mat-form-field>
    </div>
    }
  </div>

  <button mat-raised-button type="submit" [disabled]="inputForm.invalid">
    Submit
  </button>
</form>
